.Result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__header {
    margin: -100px 30px 0;
    text-align: center;
  }

  &__list {
    width: 100%;

    &__listItem {
      padding: 5px 0;
      width: 100%;
      border-bottom: 1px solid #ccc;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.redCross {
  fill: #ff0000;
  min-width: 20px;
  height: 20px;
  padding: 5px;
}

.blueMinus {
  fill: #0000ff;
  width: 20px;
  height: 20px;
  padding: 5px;
}
